<form>

<label>Employee id
  <input type="text" name="id" id="id"/>
</label>

<br/>

<label>Employee Name
  <input type="text" name="name" id="name"/>
</label>

<br/>

<label>Employee Gender
  <select name="gender" id="gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>
</label>

<br/>

<label>Employee Dept
  <select name="dept" id="dept">
    <option value="Linguistics Dept">Linguistics Dept</option>
    <option value="Accounting Dept">Accounting Dept</option>
    <option value="Computer Science Dept">Computer Science Dept</option>
  </select>
</label>

<br/>

<input type="button" value="Add new employee!" onClick="postAsync();" >
</form>

<div id="next-step">
</div>